body {
    font-family: "Century Gothic", 'Lato', sans-serif;
  }
  
  a {
    text-decoration: none;
  }
  
  .school-tabs,
  .school-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100vh;		/*vh：高さに対する割合。100vhは画面の高さと同じ（100%）*/
    position: relative;
    background: #eee;
  }
  .school-slide h1 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 50px;
    letter-spacing: 1rem;
    
  }
            /*------------------introduction box-----------------------*/
  .box {
    width: 500px;
    height: auto;
    position: relative;
    text-align: left;
    padding:0.25em 1em;
  }
  .box:before,.box:after{ 
      content:'';
      width: 20px;
      height: 30px;
      position: absolute;
      display: inline-block;
  }
  .box:before{
      border-left: solid 1px #5767bf;
      border-top: solid 1px #5767bf;
      top:0;
      left: 0;
  }
  .box:after{
      border-right: solid 1px #5767bf;
      border-bottom: solid 1px #5767bf;
      bottom:0;
      right: 0;
  }
  .box p {
    font-size: 13px;
    margin: 0; 
    padding: 0;
  }
    
  .school-container {
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    box-shadow: 0 0 20px rgba(48, 176, 235, 0.1);
    background:#fff;
    z-index: 10;
  }
  .school-container:hover{
    position: fixed;
    top: 0;
  }
  .school-tab {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    color: #000;
    letter-spacing: 0.1rem;
    transition: all 0.5s ease;
    font-size: 0.8rem;
  }
  .school-tab:hover {
    color:rgb(243, 238, 211);
    background: #e2d58b;
    transition: all 0.5s ease;
  }
  .tab-slider {
    position: absolute;
    bottom: 0;
    width: 0;
    height: 6px;
    background: #e2d58b;
    transition: else 0.3s ease;
  }
  
  @keyframes swing {
    0% {transform: rotate(0deg);}
    10% {transform: rotate(10deg);}
    30% {transform: rotate(0deg);}
    40% {transform: rotate(-10deg);}
    50% {transform: rotate(0deg);}
    60% {transform: rotate(5deg);}
    70% {transform: rotate(0deg);}
    80% {transform: rotate(-5deg);}
    100% {transform: rotate(0deg);}
  }
  
  @keyframes sonar {
    0% {transform: scale(0.9);opacity: 1;}
    100% {transform: scale(2);opacity: 0;}
  }
  .page-wrap .leftbar-wrap,
    .leftbar-wrap .sidebar-brand > a,
    .leftbar-wrap .leftbar-dropdown > a:after,
    .leftbar-wrap .leftbar-menu .leftbar-dropdown .leftbar-submenu li a:before,
    .leftbar-wrap ul li a i,
    .page-wrap .page-content,
    .leftbar-wrap .sidebar-search input.search-menu,
    .leftbar-wrap .sidebar-search .input-group-text,
    .leftbar-wrap .leftbar-menu ul li a,
    #side-show,
    #close-sidebar {
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;
    }
  
    /*----------------toggeled sidebar----------------*/
    
    .page-wrap.tog .leftbar-wrap {
      left: 0px;
    }
    
    @media screen and (min-width: 768px) {
      .page-wrap.tog .page-content {
        padding-left: 220px;
      }
    }
    /*----------------leftbar-wrap----------------*/
    
    .leftbar-wrap {
      width: 210px;
      height: 100%;
      max-height: 100%;
      position: fixed;
      top: 100px;
      left: -220px;
      z-index: 999;
    }
    
    .leftbar-wrap ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
    }
    
    .leftbar-wrap a {
      text-decoration: none;
      color: #96938b;
    }
    
    /*---------------------------main----------------------------*/

    .main .home{
        background-color: #f3eed0;
    }
    .main .social{
      background-color: #f5f4bc;
    }
    .main .business{
        background-color: rgb(221, 250, 250);
    }
    .main .health{
        background-color: rgb(252, 230, 234);
    }
    .main .theology{
        background-color: #fdfae5;
    }
    .main .engineer{
        background-color: #f8cfec;
    }
    .main .sw{
        background-color: rgb(231, 243, 220);
    }
    /*----------------------leftbar-menu-------------------------*/
    
    .leftbar-wrap .leftbar-menu {
      padding: 0px;
    }
    
    .leftbar-wrap .leftbar-menu .header-menu span {
      font-weight: bold;
      font-size: 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 25px;
      padding-bottom: 10px;
      color: rgb(13, 14, 13);
      /* border line */
      transform: translateX(10%);/*位置調整*/
      border-length: 30px;
      border-radius: 5px;
      border-bottom: solid 5px rgb(117, 198, 245);
    }
    
    .leftbar-wrap .leftbar-menu ul a {
      display: inline-block;
      width: 100%;
      text-decoration: none;
      position: relative;
      padding: 8px 20px 10px 20px; /*padding: 上、右、下、左*/
    }
    .leftbar-wrap .leftbar-menu ul a i {
      margin-right: 10px;
      font-size: 11px;
      width: 30px;
      height: 30px;
      line-height: 30px;
      text-align: center;
      border-radius: 4px;
    }

    .leftbar-wrap .leftbar-menu span {
      font-size: 14px;
      
    }
    .leftbar-wrap .leftbar-menu ul li a:hover > i::before {
      display: inline-block;
      animation: swing ease-in-out 0.5s 1 alternate;
    }
    
    .leftbar-wrap .leftbar-menu .leftbar-dropdown > a:after {
      font-weight: 900;
      content: "\f105";
      font-style: normal;
      display: inline-block;
      font-style: normal;
      font-variant: normal;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      text-align: center;
      background: 0 0;
      position: absolute;
      right: 15px;
      top: 14px;
    }
    
    .leftbar-wrap .leftbar-menu .leftbar-dropdown .leftbar-submenu ul {
      padding-left: 25px;
    }
    
    .leftbar-wrap .leftbar-menu .leftbar-dropdown .leftbar-submenu li {
      font-size: 13px;
      margin-bottom: 15px;
      background: #fff;
    }
    .leftbar-wrap .leftbar-menu .leftbar-dropdown .leftbar-submenu li :hover{     
      color:rgb(20, 20, 20);
      background: #e2d58b;
      -webkit-transform: translate(0, 3px);
      transform: translate(0, 3px);
      -webkit-box-shadow: 0 2px 0 #9e9e9b;
      box-shadow: 0 2px 0 #64f7f7;
    }
    .leftbar-wrap .leftbar-menu .leftbar-dropdown .leftbar-submenu li a:before {
      content: "\f111";
      font-weight: 400;
      font-style: normal;
      display: inline-block;
      text-align: center;
      text-decoration: none;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      margin-right: 10px;
      font-size: 8px;
    }
    
    .leftbar-wrap .leftbar-menu .leftbar-submenu {
      display: none;
    }
    
    .leftbar-wrap .leftbar-menu .leftbar-dropdown.active > a:after {
      transform: rotate(90deg);
      right: 17px;
    }
    
    