body {
	font-family: "Century Gothic", 'Lato', sans-serif;
  }

  
/*---------------------------alpha----------------------------*/
.tonari-slide-alpha {
    display: flex;
	flex-direction: column;
	box-sizing: border-box;
    position: fixed;
    width: 100%;
    height: 200vh;		/*vh：高さに対する割合。100vhは画面の高さと同じ（100%）*/
    position: relative;
    background: #eee;
  }
  .tonari-slide-alpha h1 {
	padding-left: 40%;
    font-size: 2rem;
    letter-spacing: 1rem;
  }

  .box-alpha {
    transform: translate(140%,-120%); /* transform : translate(横、縦) → 垂直・水平方向に移動 */
    width: 600px;
    height: auto;
    box-sizing: border-box; /*はみ出た部分まで入れる*/
    /* overflow: hidden; はみ出た部分非表示*/
    position: relative;
    text-align: left;
    padding:0.25em 1em;
  }
  .box-alpha:before,.box-alpha:after{ 
    content:'';
    width: 20px;
    height: 30px;
    position: absolute;
    display: inline-block;
  }
  .box-alpha:before{
    border-left: solid 1px #5767bf;
    border-top: solid 1px #5767bf;
    top:0;
    left: 0;
  }
  .box-alpha:after{
    border-right: solid 1px #5767bf;
    border-bottom: solid 1px #5767bf;
    bottom:0;
    right: 0;
  }
  .box-alpha p {
    font-size: 13px;
  }

  .j-alpha .alpha1 {
	padding-top: 10%;
    padding-left: 15%;
    flex-direction: column;
    width: 550px;
    height: 350px;
    transform: rotate(-4deg); /* 回転させる */
  }
  .j-alpha .alpha2 {
	padding-left: 15%;
	margin-top: 10%;
    flex-direction: column;
    width: 250px;
    height: 150px;
    transform: rotate(-2deg); /* 回転させる */
  }
  .j-alpha .alpha3 {
    padding-left: 25%;
	margin-top: 10%;
    flex-direction: column;
    width: 250px;
    height: 150px;
    transform: rotate(2deg); /* 回転させる */
  }
  .j-alpha .alpha4 {
    padding-left: 20%;
	padding-top: 8%;
    flex-direction: column;
    width: 250px;
    height: 150px;
    transform: rotate(4deg); /* 回転させる */
    margin-bottom: -15%;
  }


  /*----------------------------Main box----------------------------*/
  .tonari-tabs,
  .tonari-slide {
	justify-content: center;
	align-items: center;
	display: flex;
	flex-direction: column;
	position: fixed;
	width: 100%;
	height: 100vh;		/*vh：高さに対する割合。100vhは画面の高さと同じ（100%）*/
	position: relative;
	background: #eee;
	padding: 0 2em;
  }
  .tonari2-slide {
	justify-content: center;
	align-items: center;
	display: flex;
	flex-direction: column;
	position: fixed;
	width: 100%;
	height: 200vh;		/*vh：高さに対する割合。100vhは画面の高さと同じ（100%）*/
	position: relative;
	background: #eee;
	padding: 0 2em;
  }
  h1 {
	font-size: 2rem;
	margin: 0;
	letter-spacing: 1rem;
	margin-bottom: 50px;
  }
  .rest .box h3{
	font-size: 20px;
  }
  
  /*----------------------------top tag---------------------------*/
  .tonari-container {
	display: flex;
	flex-direction: row;
	position: fixed;
	top: 0;
	width: 100%;
	height: 70px;
	box-shadow: 0 0 20px rgba(48, 176, 235, 0.1);
	background:#fff;
	z-index: 10;
  }
  .tonari-container:hover{
	position: fixed;
	top: 0;
  }
  .tonari-tab0 {
	display: flex;
	justify-content: left;
	align-items: center;
	margin-left: 100px;
	margin-right: 150px;
	flex: 1;
	color: #000;
	letter-spacing: 0.1rem;
	transition: all 0.5s ease;
	font-size: 20px;
  }
  .tonari-tab {
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1;
	color: #000;
	letter-spacing: 0.1rem;
	transition: all 0.5s ease;
	font-size: 0.8rem;
  }
  .tonari-tab:hover {
	color:rgb(243, 238, 211);
	background: #e2d58b;
	transition: all 0.5s ease;
  }
