body {
  font-family: "Century Gothic", 'Lato', sans-serif;
  min-width: 800px;
}

a {
  text-decoration: none;
}

/*----------------------------Main text-----------------------------*/
.et-hero-tabs,
.slide {
  display: flex;
  flex-direction: column;
  justify-content: center;/*横*/
  align-items: center;  /*縦*/
  height: 100vh;		/*vh：高さに対する割合。100vhは画面の高さと同じ（100%）*/
  position: relative;
  background: #eee;
  text-align: center;
  padding: 0 2em;
}
.slide h1 {
  font-size: 2.3rem;
  margin: 0;
  letter-spacing: 1rem;
}
.slide h3 {
  margin-top:50px;
  font-size: 1.3rem;
  letter-spacing: 0.3rem;
  opacity: 0.6;
}
.slide-ja {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: left;
	height: 100vh;		/*vh：高さに対する割合。100vhは画面の高さと同じ（100%）*/
	position: relative;
	background: #eee;
  }
  .slide-ja h1 {
	margin-left: 20%;
	font-size: 2.5rem;
	letter-spacing: 1rem;
  }
  .slide-ja p {
	font-weight: bold;
	margin-left: 20%;
	font-size: 1.3rem;
	letter-spacing: 0.3rem;
	opacity: 0.6;
  }
  .slide-ja h3 {
	margin-left: 20%;
	font-size: 1.5rem;
	letter-spacing: 0.3rem;
	opacity: 0.6;
  }
  .slide-hj {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;		/*vh：高さに対する割合。100vhは画面の高さと同じ（100%）*/
	position: relative;
	background: #eee;
	padding: 0 2em;
  }
  .slide-hj h1 {
	justify-content: flex-end;
	writing-mode: vertical-rl;
	text-orientation: upright;
	margin-right: 40%;
	margin-top: 10%;
	font-size: 2.5rem;
	letter-spacing: 1rem;
  }
  .slide-hj h3 {
	justify-content: center;
	margin-top: -10%;
	font-size: 1.3rem;
	letter-spacing: 0.3rem;
	opacity: 0.6;
  }
  .slide-sc {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;/*横: flex-end:end揃え*/
	align-items: center;  /*縦*/
	height: 100vh;		/*vh：高さに対する割合。100vhは画面の高さと同じ（100%）*/
	position: relative;
	background: #eee;
	padding: 0 2em;
  }
  .slide-sc h1 {
	font-size: 2rem;
	margin-right: 50px;
	margin-bottom: 40px;
	letter-spacing: 1rem;
  }
  .slide-sc h3 {
	margin-right: 200px;
	font-size: 1.3rem;
	letter-spacing: 0.3rem;
	opacity: 0.6;
  }

  .slide-to {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;		/*vh：高さに対する割合。100vhは画面の高さと同じ（100%）*/
	position: relative;
	background: #eee;
	padding: 0 2em;
  }
  .slide-to h1 {
	text-align: left;
	margin-left: 70px;
	margin-bottom: 55px;
	font-size: 2rem;
	letter-spacing: 1rem;
  }
  .slide-to h3 {
	text-align: center;
	margin-left: 55px;
	font-size: 1.3rem;
	letter-spacing: 0.3rem;
	opacity: 0.6;
  }

.tabs-container {
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  box-shadow: 0 0 20px rgba(48, 176, 235, 0.1);
  background:#fff;
  z-index: 10;
}
.tabs-container:hover{
  position: fixed;
  top: 0;
}
.tab0 {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-left: 100px;
  margin-right: 150px;
  flex: 1;
  color: #000;
  letter-spacing: 0.1rem;
  transition: all 0.5s ease;
  font-size: 20px;
}
.tab0 img{
	height: 70px;
	width: 150px;
}
.tab {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  color: #000;
  letter-spacing: 0.1rem;
  transition: all 0.5s ease;
  font-size: 0.8rem;
}
.tab:hover {
  color:rgb(243, 238, 211);
  background: #e2d58b;
  transition: all 0.5s ease;
}
.tab-slider {
  position: absolute;
  bottom: 0;
  width: 0;
  height: 6px;
  background: #e2d58b;
  transition: else 0.3s ease;
}


  /*	button	 */
button.btn--humanity {
	display: inline-block;
	border-radius: 50%;
	line-height: 30px;		/*行間*/
	width: 190px;
	height: 190px;
	position: relative;
	top: 30%;
	left: 100/3vh;
	padding: 0;				/*余白*/
	font-size: 18px;
	text-align: center;
	color: rgb(82, 142, 150);
	background: #e4e3d6;
	-webkit-box-shadow: 0 5px 0 #e6d900;
	box-shadow: inset 0px 3px 0 rgba(255,255,255,0.3), 0 3px 3px rgba(0, 0, 0, 0.3);
	font-weight: bold;
	text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.65);
}
  button.btn--global {
	border-radius: 50%;
	line-height: 30px;		/*行間*/
	width: 190px;
	height: 190px;
	position: relative;
	top: 30%;			/*余白*/
	font-size: 15px;
	text-align: center;
	color: rgb(82, 142, 150);
	background-color: #b0f096;
	-webkit-box-shadow: 0 5px 0 #e6d900;
	box-shadow: 0 5px 0 #e6d900;
	font-weight: bold;
	text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.65);
  }
  button.btn--theology {
	border-radius: 50%;
	line-height: 30px;		/*行間*/
	width: 190px;
	height: 190px;
	position: relative;
	top: 30%;
	font-size: 18px;
	text-align: center;
	color: rgb(82, 142, 150);
	background-color: #f3f582;
	-webkit-box-shadow: 0 5px 0 #e6d900;
	box-shadow: inset 0px 3px 0 rgba(255,255,255,0.3), 0 3px 3px rgba(0, 0, 0, 0.3);
	font-weight: bold;
	text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.65);
  }
  button.btn--health {
	border-radius: 50%;
	line-height: 30px;		/*行間*/
	width: 190px;
	height: 190px;
	position: relative;
	top: 30%;
	font-size: 18px;
	text-align: center;
	color: rgb(82, 142, 150);
	background-color: #fce358;
	-webkit-box-shadow: 0 5px 0 #e6d900;
	box-shadow: inset 0px 3px 0 rgba(255,255,255,0.3), 0 3px 3px rgba(0, 0, 0, 0.3);
	font-weight: bold;
	text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.65);
  }
  button.btn--engineer {
	border-radius: 50%;
	line-height: 30px;		/*行間*/
	width: 190px;
	height: 190px;
	position: relative;
	top: 30%;
	font-size: 18px;
	text-align: center;
	color: rgb(82, 142, 150);
	background-color: #92a4c7;
	-webkit-box-shadow: 0 5px 0 #e6d900;
	box-shadow: inset 0px 3px 0 rgba(255,255,255,0.3), 0 3px 3px rgba(0, 0, 0, 0.3);
	font-weight: bold;
	text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.65);
  }
  button.btn--sw {
	border-radius: 50%;
	line-height: 30px;		/*行間*/
	width: 190px;
	height: 190px;
	position: relative;
	top: 30%;
	font-size: 18px;
	text-align: center;
	color: rgb(82, 142, 150);
	background-color: #d887cd;
	-webkit-box-shadow: 0 5px 0 #e6d900;
	box-shadow: 0 5px 0 #e6d900;
	font-weight: bold;
	text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.65);
  }
  /* :hoverは疑似クラスの一つで、マウスポインタを要素の上に置いているとき実行される
  	　疑似クラス = 要素が特定の状態になっているときだけ実行される*/
  button.btn--circle:hover {
	-webkit-transform: translate(0, 3px);
	transform: translate(0, 3px);
	-webkit-box-shadow: 0 2px 0 #e6d900;
	box-shadow: 0 2px 0 #e6d900;
  }
